/* @import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.panel{
    background-image: url('/home/aswathi/dailymart/src/assets/bg1.jpeg');
    background-size: 100%;
    width: 100%;
    height: 400px;
    
}

.panel .logo img{
    align-self: center;
    margin-top: 120px;
    float: right;
    margin-right:200px;
    border-radius: 8px;
}

.special-price{
    padding-left: 130px;
    padding-top: 100px;
    color: aliceblue;
}

.join-now{
    font-family: 'proxima-nova', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.rs599{
    font-size: 27px;
    font-weight: 500;
    text-decoration: line-through;
}
.rs299{
    font-size: 40px;
    font-weight: 500;
    color: aliceblue;
}

.month{
    font-size: 27px;
    font-weight: 500;
}

.uk-button-primary{
    width: 310px;
    height: 45px;
}

.cancel{
    font-size: 15px;
    font-weight: 500;
}

.coupon{
    border:1px solid white;
    border-radius: 10px 100px / 120px;
    padding:10px 7px 10px 17px;
    background-color: indigo;
    opacity: .8;
    width: 280px;
}
.row{
    width: 100%;
    padding-left: 20px;
    padding-top: 50px;
}
.column{
    padding-left: 140px;
    text-align: center; 
    align-content: center;
}
.circle-icon {
    background:#FFC0CB;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 23px;
}
.text1{
    padding-top: 5px;
    color:#00308F;
    font-size: 18px;
    font-weight: 440;
}
.text2{
    padding-top: 5px;
    font-size: 13px;
    color: dimgray;
}

.image{
    padding-left: 80px;
    padding-top: 50px;
}
.image img{
    margin-top: 40px;
    border: 1px solid #D7D7D7;
}

.membership{
    padding-top: 50px;
    text-align: center;
} */

.header {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #333;
  display: block;
}
.imageone {
  display: block;
  width: 162px;
  height: auto;
  margin-top: 10px;
  margin-left: 7px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
}
.logo-info {
  display: block;
  padding-top: 0;
  padding-left: 2px;
  margin-top: -2px;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #9b9b9b;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.main-header {
  position: relative;
  min-height: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-family: Roboto, sans-serif;
}
.header-contacts {
  font-weight: 300;
  line-height: 3;
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding-right: 30px;
  padding-left: 40px;
}
.navbar-nav {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #333;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  float: none !important;
  padding-bottom: 3px;
  list-style: none;
  background-color: transparent;
  content: none;
}
.navbar-nav-sticky {
  justify-content: space-between;
  float: none !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  cursor: pointer;
  content: none;
  font-size: 12px;
  font-weight: 300;
  line-height: 5;
  color: #333;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
    float: none !important; */
  padding-bottom: 3px;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.header li {
  cursor: pointer;
}
.header li:hover {
  color: #008a97;
  background-color: transparent;
}
.header-contacts a:hover {
  color: #008a97;
  background-color: transparent;
}
.header-contacts span:hover {
  color: #008a97;
  background-color: transparent;
}

.logo-infos {
  display: block;
  padding-top: 0;
  padding-left: 2px;
  margin-top: -2px;
  font-size: 8px;
  font-weight: 5;
  line-height: 0.6;
  letter-spacing: 1.5px;
  color: #9b9b9b;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
.navbar--hidden {
  top: -75px;
}

@media (min-width: 1000px) {
  .navbar-nav li {
    padding-inline: 45px;
  }
}
@media (min-width: 1000px) {
  .navbar-nav-sticky li {
    margin-left: -10px;
    margin-right: -18px;
    padding-inline: 45px;
    padding-left: 50px;
    padding-right: 1px;
  }
}
.headerm li {
  color: #333;
  font-weight: 500;
  list-style: none;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid #b6b6b6;
}
.textbox input[type="text"] {
  width: 100%;
  padding: 15px 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}
/* .mobilehead {
  text-transform: uppercase;
  padding-left: 10px;
  font: 14px Proxima Nova;
  display: block;
  background: #fff;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #b6b6b6;
} */
