body {
  font-family: Proxima Nova;
  text-decoration: none;
}

.card_width {
  width: 20%;
 
}
.card_width_md {
  width: 33.33%;
}
.card_width_xs {
  width: 100%;
}
.card_width_sm {
  width: 48%;
}
/* .card_width_grid{
  width: 25%;
  border-right: 1px solid rgb(239 238 238);
}
 */
.border-right {
  border-right: 1px solid;
  border-color: #dfdfdf;
  padding-right: 15px;
}
.card-style {
  background-color: #f4f3f2;
  height: auto;
}
.card-style_sl {
  height: 88px;
}
.fresho {
  color: #999;
  font-size: 11px;
  font-family: Proxima Nova;
}
.items {
  font-size: 14px !important;
  font-family: Proxima Nova !important;
}
.label-style {
  font-family: Proxima Nova;
}
.add-btn {
  /* height: 25px;
    width: 110px;
    background-color: #FEE67C;
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 7px; */
  border-radius: 2px;
  height: 25px;
  background-color: #fee67c;
  width: 70px;
}
.modal-dialog {
  max-width:  100% !important;
}
.asterisk-icon {
  display: block;
  width: 18px;
  height: 23px;
  float: right;
  background-repeat: no-repeat;
  background-position: -19px -28px;
  padding-top: -38px;
  padding-right: 28px;
}
/*  .input-style {
    height: 27px;
    width: 65px;
    border-radius: 2px;
   border: 0px;
  } */
/*   .mrp-style {
    font-size: 12px;
    font-weight: 500;
    height: 1px;
  } */
  .modal_head{
    font-size: 18px;
    font-family: Proxima Nova;
    color: #000;
  }
  .uk-offcanvas-close{
    padding: 0;
    margin: 0;position: absolute;
    top: 13px;
  }
  .modal_close_head{
    font-size: 11px;
    font-family: Proxima Nova;
  }
.qnty {
  border: 1px solid #e0e0e0;
  font-size: 12px;
  background-color: #eee;
  padding: 2%;
  color: rgb(177, 175, 175);
  border-radius: 4px 0px 0px 4px;
}
.qnty_inp {
  border: 1px solid #ccc;
  border-radius: 0px 4px 4px 0px;
}
.label-style {
  font-size: 10px;
  text-decoration: none;
}
.vegicon {
  width: 25px;
  height: 13px;
}
.bikeicon {
  background-size: 25px;
  background-image: url(../../assets/bike-icon.svg);
  width: 25px;
  height: 13px;
}
.basketicon {
  background-image: url(../../assets/basketicon.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
  background-position-x: -5px;
  background-position-y: -5px;
  width: 18px;
  height: 16px;
  display: inline-block;
  vertical-align: bottom;
  padding-top: 16px !important;
}
.category-style {
  font-size: 16px;
  color: #222;
  font-family: Proxima Nova;
  border-bottom: 1px solid #dfdfdf;
  display: block;
  font-weight: 500;
  margin-bottom: inherit;
  
}

.category-style_modal {
  font-size: 16px;
  color: #222;
  font-family: Proxima Nova;
  border-bottom: 1px solid #dfdfdf;
  display: block;
  font-weight: 500;
  margin-bottom: inherit;
text-align: left !important;
}
.nav-sub {
  color: #666;
  font-size: 14px;
  font-family: Proxima Nova;
  padding-left: 0;
  margin-bottom: 0;
}
.sortby{
color: #666 !important;
}
.main-items  {
  color: #666 !important;
  font-size: 14px;
  font-family: Proxima Nova;
  padding-left: 0;
  cursor: pointer;
  line-height: 21px;
  margin-left: 0px !important;
}
.main-items:hover {
  color: #a83271 !important;
  text-decoration: none;
}
.sss {
 /*  border-right: 1px solid; */
  border-color: #dfdfdf;
}
.seasonal-text a {
  color: #666;
  font-size: 14px;
  font-family: Proxima Nova;
  padding-left: 0;
  min-height: 21px;
  margin-bottom: 0;
  cursor: pointer;
  margin-left: 10px !important;
  text-decoration: none;
}
.seasonal-text_modal {
  color: #666;
  font-size: 14px;
  font-family: Proxima Nova;
  padding-left: 0;
  min-height: 21px;
  margin-bottom: 0;
  cursor: pointer;
  margin-left: 10px !important;
  text-decoration: none;
  text-align: left !important;
}
.li_height{
  height: 22px;
}
.uk-panel-scrollable{
  min-height: 150px !important;
  max-height: 153px !important;
}
.seasonal-text a:hover {
  color: #a83271;
}
.allproduct a {
  font-size: 11px;
  font-family: 14px Proxima Nova;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.allproduct a:hover {
  color: black;
  font-weight: 700;
}
.line {
  border-bottom: 1px solid #dfdfdf;
}
.col-width {
  width: 23%;
  padding-left: 0;
  padding-right: 30px;
}
.search-brand {
  height: 25px;
  border: 1px solid #e5e5e5;
}
.icon_search{
  color:#9b9191 !important;
}
.uk-margin-right {
  margin-right: 15px !important;
}
.header-labels {
  font: 18px Proxima Nova;
  color: #58595b;
}
.card_width_grid:hover {
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}
.data_width{
  width: 90%;
  display: none;
}
@media screen and (min-width: 1230px) {
  .content_width {
    width: 83% !important;
  }
  .slider_width {
    width: 85%;
  }
  /* .content_width {
    width: 83%;
  } */
  .img_width {
    width: 85%;
  }
  .card_width_grid {
    width: 25%;
    border-right: 1px solid rgb(239 238 238);
  }
  .sm_card_grid {
    display: none;
  }
  .lg_cards {
    display: block;
  }
  .data_width{
    width: 90%;
    display: none;
  }
  .input-style {
    height: 23px;
    width: 50px;
    border-radius: 2px;
    /*  border-color: #AA9FA4; */
    border: 0px;
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (max-width: 1230px) {
  .content_width {
    width: 90% !important;
  }
  .slider_width {
    width: 92% !important;
  }
  /* .content_width {
    width: 83%;
  } */
  .img_width {
    width: 90% !important;
  }
  /* .card_width_grid {
    width: 33.33%;
    border-right: 1px solid rgb(239 238 238);
  } */
  .sm_card_grid {
    display: none;
  }
  .lg_cards {
    display: block;
  }
  .data_width{
    width: 90%;
    display: none;
  }
  .input-style {
    height: 23px;
    width: 50px;
    border-radius: 2px;
    /*  border-color: #AA9FA4; */
    border: 0px;
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (max-width: 1004px) {
  .content_width {
    width: 93%;
  }
  .sm_card_grid {
    display: block;
  }
  .cards_sm {
    display: block;
  }
  .cards_xs {
    display: none;
  }
  .lg_cards {
    display: none;
  }
  .data_width{
    width: 90%;
    display: block;
  }
  .card_width_grid_sm {
    width: 33.33%;
    border-right: 1px solid rgb(239 238 238);
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (max-width: 779px) {
  .sm_card_grid {
    display: block;
  }
  .data_width{
    width: 90%;
    display: block;
  }
  .cards_sm {
    display: block;
  }
  .cards_xs {
    display: none;
  }
  .lg_cards {
    display: none;
  }
  .card_width_grid_sm {
    width: 50%;
    border-right: 1px solid rgb(239 238 238);
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (max-width: 760px) {
  .sm_card_grid {
    display: block;
  }
  .cards_sm {
    display: none;
  }
  .cards_xs {
    display: block;
  }
  .lg_cards {
    display: none;
  }
  .card_width_grid_sm {
    width: 50%;
    border-right: 1px solid rgb(239 238 238);
  }
  .input-style {
    height: 27px;
    width: 65px;
    border-radius: 2px;
    /*  border-color: #AA9FA4; */
    border: 0px;
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (max-width: 530px) {
  .sm_card_grid {
    display: block;
  }
  .cards_sm {
    display: none;
  }
  .cards_xs {
    display: block;
  }
  .lg_cards {
    display: none;
  }
  .card_width_grid_sm {
    width: 100%;
    border-right: 1px solid rgb(239 238 238);
  }
  .input-style {
    height: 27px;
    width:60px;
    border-radius: 2px;
    /*  border-color: #AA9FA4; */
    border: 0px;
  }
  .mrp-style {
    font-size: 12px;
    font-weight: 600;
    height: 27px !important;
  }
}
@media screen and (min-width: 1324px) {
  .sl_xl {
    display: block;
  }
  .sl_xs {
    display: none;
  }
  .sl_sm {
    display: none;
  }
  .sl_md {
    display: none;
  }
}
@media screen and (max-width: 1324px) {
  .sl_xl {
    display: none;
  }
  .sl_xs {
    display: none;
  }
  .sl_sm {
    display: none;
  }
  .sl_md {
    display: block;
  }
}
@media screen and (max-width: 799px) {
  .sl_xl {
    display: none;
  }
  .sl_xs {
    display: none;
  }
  .sl_sm {
    display: block;
  }
  .sl_md {
    display: none;
  }
}
@media screen and (max-width: 515px) {
  .sl_xl {
    display: none;
  }
  .sl_xs {
    display: block;
  }
  .sl_sm {
    display: none;
  }
  .sl_md {
    display: none;
  }
}
@media screen and (max-width: 776px) {
  .content_width {
    width: 95%;
  }
  .cap {
    height: 75px;
  }
}














